In [1]:
# Test data
import data_processing as dp

In [2]:
df_long = dp.get_long_data()

In [3]:
df_long.head()

,airline,avail_seat_km,period,incidents,fatal_accidents,fatalities,incident_rate,fatal_accidents_rate,fatalities_rate
0,Aer Lingus,250307252520,2000-2014,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,Aeroflot*,934184408040,2000-2014,6.0,1.0,88.0,6.422715,1.070452,94.199817
2,Aerolineas Argentinas,300926845440,2000-2014,1.0,0.0,0.0,3.323067,0.000000,0.000000
3,Aeromexico*,465560014140,2000-2014,5.0,0.0,0.0,10.739754,0.000000,0.000000
4,Air Canada,1454897965560,2000-2014,2.0,0.0,0.0,1.374667,0.000000,0.000000

In [4]:
df = dp.get_data()

In [5]:
import plotly.graph_objs as go

In [6]:
period_unique = df_long.period.unique()
print(period_unique)

['2000-2014' '1985-1999']

In [7]:
period_agg = df_long.groupby('period', as_index=False).agg({'incident_rate': 'mean'})

In [8]:
period_agg

      period  incident_rate
0  1985-1999      10.147115
1  2000-2014       5.281474

In [9]:
period_inc_mean = df_long.groupby('period', as_index=False).agg({'incident_rate': 'mean'}) 
period_inc_man_bar = go.Figure(
    [go.Bar(
        x= period_inc_mean['period']
        , y= period_inc_mean['incident_rate']
    )]
)

In [10]:
period_total_perc = df_long.groupby('period', as_index=False).agg({
    'incidents': 'sum',
    'fatal_accidents': 'sum'
})
period_total_perc['total'] = period_total_perc.incidents + period_total_perc.fatal_accidents
period_total_perc['perc_of_incidents'] = (period_total_perc.incidents / period_total_perc.total) * 100
period_total_perc['perc_of_fatal_accidents'] = (period_total_perc.fatal_accidents / period_total_perc.total) * 100

In [11]:
period_total_perc

,period,incidents,fatal_accidents,total,perc_of_incidents,perc_of_fatal_accidents
0,1985-1999,402.0,122.0,524.0,76.717557,23.282443
1,2000-2014,231.0,37.0,268.0,86.194030,13.805970

In [12]:
period_mean = df_long.groupby('period', as_index=False).agg({
    'incident_rate': 'mean',
    'fatal_accidents_rate': 'mean'
})

In [13]:
period_mean.loc[period_mean.period == '2000-2014', 'incident_rate'].max()

5.28147378789717

In [14]:
# Helper Functions
def multiple_string_lines(title, threshold):
    if (len(title) > threshold):
        words_arr = title.split(' ')
        interval = int(len(words_arr) / 2)
        return ' '.join(words_arr[0:interval]) + '<br>' + ' '.join(words_arr[interval:len(words_arr)])
    else:
        return title
    
title = '2000-2014 Fatal Accidents Rate % Change from 1980-1999'

multiple_string_lines(title, 10)

'2000-2014 Fatal Accidents Rate<br>% Change from 1980-1999'

In [15]:
# Calculate % of change for each airline - time preiod
df['Incident Rate % Change'] = ((df.incident_rate_00_14 - df.incident_rate_85_99) \
                                    / df.incident_rate_85_99 * 100)

df['Fatal Accidents Rate % Change'] = ((df.fatal_accidents_rate_00_14 - df.fatal_accidents_rate_85_99) \
                                            / df.fatal_accidents_rate_85_99 * 100)

df['Incident Rate % Change'].fillna(0, inplace = True)
df['Fatal Accidents Rate % Change'].fillna(0, inplace = True)

df.sort_values(by='Incident Rate % Change', ascending = False).head()

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14,avail_seat_km,incident_rate_85_99,fatal_accidents_rate_85_99,fatalities_rate_85_99,incident_rate_00_14,fatal_accidents_rate_00_14,fatalities_rate_00_14,Incident Rate % Change,Fatal Accidents Rate % Change
15,Cathay Pacific*,2582459303,0,0,0,2,0,0,2014318256340,0.000000,0.0,0.0,0.992892,0.00000,0.000000,inf,0.0
26,Hawaiian Airlines,493877795,0,0,0,1,0,0,385224680100,0.000000,0.0,0.0,2.595888,0.00000,0.000000,inf,0.0
43,Southwest Airlines,3276525770,1,0,0,8,0,0,2555690100600,0.391284,0.0,0.0,3.130270,0.00000,0.000000,700.0,0.0
37,Qantas*,1917428984,1,0,0,5,0,0,1495594607520,0.668630,0.0,0.0,3.343152,0.00000,0.000000,400.0,0.0
25,Gulf Air,301379762,1,0,0,3,1,143,235076214360,4.253940,0.0,0.0,12.761819,4.25394,608.313352,200.0,inf

In [16]:
import numpy as np
# Calculate % of change for each airline - time preiod
df['Incident Rate % Change'] = ((df.incident_rate_00_14 - df.incident_rate_85_99) \
                                    / df.incident_rate_85_99 * 100)

df['Fatal Accidents Rate % Change'] = ((df.fatal_accidents_rate_00_14 - df.fatal_accidents_rate_85_99) \
                                            / df.fatal_accidents_rate_85_99 * 100)

df['Incident Rate % Change'].fillna(0, inplace = True)
df['Fatal Accidents Rate % Change'].fillna(0, inplace = True)
df = df.replace([np.inf, -np.inf], np.nan)

df_incidents = df.copy()
df_incidents = df_incidents.dropna(subset=["Incident Rate % Change"], how = 'all')
df_incidents = df_incidents.sort_values(by = 'Incident Rate % Change', ascending = False)
df_incidents ['Incident Rate % Change'] = df_incidents ['Incident Rate % Change'].apply(lambda i : "{0:.2f}%".format(i))
df_incidents ['Fatal Accidents Rate % Change'] = df_incidents ['Fatal Accidents Rate % Change'].apply(lambda i : "{0:.2f}%".format(i))

In [17]:
df.sort_values(by = 'Incident Rate % Change', ascending = False).head()

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14,avail_seat_km,incident_rate_85_99,fatal_accidents_rate_85_99,fatalities_rate_85_99,incident_rate_00_14,fatal_accidents_rate_00_14,fatalities_rate_00_14,Incident Rate % Change,Fatal Accidents Rate % Change
43,Southwest Airlines,3276525770,1,0,0,8,0,0,2555690100600,0.391284,0.00000,0.000000,3.130270,0.00000,0.000000,700.000000,0.0
37,Qantas*,1917428984,1,0,0,5,0,0,1495594607520,0.668630,0.00000,0.000000,3.343152,0.00000,0.000000,400.000000,0.0
25,Gulf Air,301379762,1,0,0,3,1,143,235076214360,4.253940,0.00000,0.000000,12.761819,4.25394,608.313352,200.000000,NaN
10,All Nippon Airways,1841234177,3,1,1,7,0,0,1436162658060,2.088900,0.69630,0.696300,4.874100,0.00000,0.000000,133.333333,-100.0
44,Sri Lankan / AirLanka,325582976,2,1,14,4,0,0,253954721280,7.875420,3.93771,55.127937,15.750839,0.00000,0.000000,100.000000,-100.0

In [18]:
df_incidents['Incident Rate % Change'].head()

43    700.00%
37    400.00%
25    200.00%
10    133.33%
44    100.00%
Name: Incident Rate % Change, dtype: object

In [19]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [20]:
X = df.incident_rate_85_99[:, None]

In [21]:
X

array([[ 7.99017999],
       [81.35438715],
       [19.93840061],
       [ 6.44385237],
       [ 1.37466685],
       [ 5.9749341 ],
       [ 2.94977519],
       [ 5.41578461],
       [ 6.64036654],
       [12.8570176 ],
       [ 2.08889988],
       [ 5.14943321],
       [ 3.57875144],
       [16.14989171],
       [ 1.61276436],
       [ 0.        ],
       [18.91822858],
       [ 6.13447187],
       [ 6.98676328],
       [ 4.71511479],
       [18.39055453],
       [ 3.8219074 ],
       [65.60348753],
       [ 2.53137218],
       [20.9022149 ],
       [ 4.25393953],
       [ 0.        ],
       [ 4.37111444],
       [ 2.44321625],
       [ 9.24284724],
       [ 4.78744371],
       [ 8.86965401],
       [ 3.83860756],
       [ 2.24492674],
       [ 3.70117425],
       [29.42482772],
       [21.72930614],
       [ 0.66863039],
       [21.67785144],
       [ 9.38582812],
       [10.43925954],
       [ 1.07877828],
       [ 3.93567606],
       [ 0.39128375],
       [ 7.87541964],
       [ 3.23504714],
       [14.82863951],
       [ 6.79594477],
       [ 0.        ],
       [ 6.02325388],
       [ 5.27024266],
       [ 3.41195973],
       [ 8.35318715],
       [14.35702369],
       [ 1.27535746],
       [26.80477197]])

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, df.incident_rate_00_14, random_state=0)

In [23]:
model = LinearRegression()

In [24]:
model.fit(X_train, y_train)

LinearRegression()

In [29]:
df.loc[:, ['fatal_accidents_rate_00_14', 'fatal_accidents_rate_85_99']].corr()['fatal_accidents_rate_00_14']['fatal_accidents_rate_85_99']

0.31105926895307723